.navbar :hover{
    color: red;
    
}
.navbar {
    font-weight: 500;
    font-size: medium;
    /* position: fixed; */
    width: 100vw;
    top: 0px;
    width: 100%;
    background-color: white;
    position: fixed;
    z-index: 2;
    padding: 5px;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
   
}

.NaveText{
    color: rgb(29, 28, 28);
    font-weight: 500;
    
 }

.NaveText:hover{
   color: red;
   font-weight: 500;
 
}

