.flex{
    width: 100%;
    
}
Heading{
    color: orange;
    
}
h3{
    color: orange;
    font-size: 20px;
    font-weight: 900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 3px solid green;
    border-radius: 15px;
    padding: 3%;
}
