.Container{
    width: 95%;
    padding: 1%;
    /* border: 1px solid red; */
    margin: auto;
    background-color: rgb(243, 243, 243);
    color: black;
    margin-top: 2%;
}
Box :hover{
    
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.Container button{
   background-color: gray;

    
}
.Container button:hover{
    display: block;
    background-color: black;
}
.Container h2{
    background-color: rgb(243, 243, 243);
    text-align: left;
    
}
 h5{
    font-weight: 600;
    color: gray;
}
.Container p{
    color: rgb(17, 223, 17);
}

h5{
    color: gray;
}

/* @media (max-width: 768px) {
    .Container {
        width: 100%;
        padding: 2%;
        margin-top: 5%;
    }

    .Container h2 {
        text-align: center;
        
    }

   
} */

/* Slick1.css */
.Container {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
  }
  
  h2 {
    text-align: center;
  }
  
  /* For screens smaller than 768px wide */
  @media (max-width: 768px) {
    .Container {
      padding: 0;
    }
    h2 {
        text-align: center;
        font-size: smaller;
        
    }
    h4 {
        text-align: center;
        font-size: 10px;
        display: none;
        
    }
    h5 {
        text-align: center;
        font-size: 10px;
        display: none;
        
      }
      p {
        text-align: center;
        font-size: 10px;
        
      }
  
  
    .slick-slide {
      padding: 0 5px; /* Adjust spacing between slides as needed */
    }
  }
  