.Container{
    width: 95%;
    padding: 1%;
    /* border: 1px solid red; */
    margin: auto;
    background-color: white;
}
.Container Box{
    
    background-color: white;
}
.Container button{
   background-color: gray;

    
}
.Container button:hover{
    display: block;
    background-color: black;
}
.Container h2{
    background-color: white;
    text-align: left;
}
