.Container{
    width: 95%;
    padding: 1%;
    /* border: 1px solid red; */
    margin: auto;
    background-color: rgb(243, 243, 243);
    color: black;
    margin-top: 2%;
}
Box :hover{
    
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.Container button{
   background-color: gray;

    
}
.Container button:hover{
    display: block;
    background-color: black;
}
.Container h2{
    background-color: rgb(243, 243, 243);
    text-align: left;
    
}
 h5{
    font-weight: 600;
    color: gray;
}
.Container p{
    color: rgb(17, 223, 17);
}

h5{
    color: gray;
}